<%- include('layout') -%>

<div class="container">


  <br><br><br>  <!-- Verificação se a lista de pacientes está vazia -->
  <% if (isEmpty) { %>
    <div class="alert alert-warning" role="alert">
      Não há pacientes cadastrados no momento.
    </div>
  <% } else { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Idade</th>
          <th>Dia Marcado</th>
          <th>Hora Marcada</th>
        </tr>
      </thead>
      <tbody>
        <% pacientes.forEach(function(paciente) { %>
          <tr>
            <td><%= paciente.CPF %></td>
            <td><%= paciente.Nome %></td>
            <td><%= paciente.Idade %></td>
            <td><%= paciente.DiaMarcado %></td>
            <td><%= paciente.HoraMarcada %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</div>
